<div class="text-secondary pt-1 login-box">
  <!-- <h2 class="text-center">{{title | uppercase}}</h2> -->
  <div class="d-flex justify-content-center align-items-center mb-3">
    <img [src]="logo" alt="" [width]="150">
  </div>
  <form role="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary w-100">SEND</button>
    <div class="text-center mt-5">
      <a href="javascript:" routerLink="/login">Login Here!</a>
    </div>
    <!-- <div class="text-center mt-5">
      <a href="javascript:" routerLink="/phone-number-format">Phone Number Format!</a>
    </div> -->
  </form>
</div>