<div class=" p-1 login-box">
  <div class="text-secondary">
    <h2 class="text-center">{{title | uppercase}}</h2>
    <form role="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <br>

      <button type="submit" class="btn btn-primary w-100">SEND</button>
      <br>
      <div class="text-center mt-5">
        <a href="javascript:" routerLink="/login">Login Here!</a>
      </div>
      <div class="text-center mt-5">
        <!-- <a href="javascript:" routerLink="/phone-number-format">Phone Number Format!</a>-->
      </div>
    </form>
  </div>
</div>