@import "src/@fuse/scss/fuse";

social-auth-login {
   button {
        &.google, &.facebook {
            width: 192px;
            text-transform: none;
            color: #FFFFFF;
            font-size: 13px;
        }
        @include media-breakpoint('xs') {
            width: 80%;
        }
        &.google {
            background-color: #D73D32;
            margin-bottom: 8px;
        }
        &.facebook {
            background-color: rgb(63, 92, 154);
        }
    }
}