<div class="text-secondary pt-1">
    <!-- <h2 class="text-center">{{title | uppercase}}</h2> -->
    <div class="d-flex justify-content-center align-items-center mb-5">
        <img [src]="logo" alt="" [width]="150">
    </div>
    <form role="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" #email class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" #password class="form-control" id="pwd" placeholder="Enter password">
        </div>
        <div class="text-right">
            <a href="javascript:" class="forgot" routerLink="/forgot-password">Forgot your password?</a>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-100 mt-3">LOGIN</button>
        </div>
        <div class="d-flex justify-content-center">
            <!-- Social login here! -->
            <google-login [isGoogle]="isGoogle" (googleSignIn)="googleSignIn($event)"></google-login>
            <facebook-login [isFacebook]="isFacebook" (fbSignIn)="fbSignIn($event)"></facebook-login>
        </div>
        <div class="text-center">
            <a href="javascript:" routerLink="/register">Register Here!</a>
        </div>
    </form>
</div>