/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css" */
@import 'intl-tel-input/build/css/intlTelInput.css';

body{
    /* background: #ccc; */
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.shadow{
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.login-box{
  min-width: 320px;
  min-height: 450px;
}

.btn, input[type="email"], input[type="password"], input[type="text"] {
  border-radius: 0;
  padding: 10px
}

h2{
  font-size: 25px;
  padding-bottom: 10px;
}

.form-control{
  font-size: 0.9em;
}
div a {
    color: #093856;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {
  .prev, .next,.text {font-size: 11px}
    div{border:none;}
    .p-5{
        padding: 15px !important;
    }
    .shadow{
        -moz-box-shadow:    none!important;
        -webkit-box-shadow: none!important;
        box-shadow:         none!important;
    }
    .border{
        border: none !important;
    }
    .login-box{
        min-width: 320px;
        min-height: initial;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 320px) {
  .prev, .next,.text {font-size: 11px}
    div{border:none;}
    .p-5{
        padding: 15px !important;
    }
    .shadow{
        -moz-box-shadow:    none!important;
        -webkit-box-shadow: none!important;
        box-shadow:         none!important;
    }
    .border{
        border: none !important;
    }
    .login-box{
        min-width: 280px;
        min-height: initial;
    }
}





