/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css" */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import 'intl-tel-input/build/css/intlTelInput.css';

body{
    /* background: #ccc; */
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.shadow{
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

/* .login-box{
  min-width: 320px;
  min-height: 517px;
} */

.btn.focus, .btn:focus{
  box-shadow: none;
}

.btn.btn-primary:hover{
    background: #0d5482 !important;
    box-shadow: 3px 3px 5px #186ba094;  
}

.btn, input[type="email"], input[type="password"], input[type="text"] {
  border-radius: 0;
  padding: 8px;
  font-size: 14px;
}

h2{
  font-size: 25px;
  padding-bottom: 10px;
}

/* Form Group Css */
.form-group>label{
  font-size: 14px;
}
.form-control{
  font-size: 0.9em;
}
.form-control:focus{
  box-shadow: none;
}
div a {
    color: #093856;
    font-size: 14px;
}

/* Ripple magic */
button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 50%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 320px) {
  .prev, .next,.text {font-size: 11px}
    div{border:none;}
    .px-5{
        padding: 15px !important;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {
  .prev, .next,.text {font-size: 11px}
    div{border:none;}
    .shadow{
        -moz-box-shadow:    none!important;
        -webkit-box-shadow: none!important;
        box-shadow:         none!important;
    }
    .border{
        border: none !important;
    }
}
